click==7.1.2
fastapi==0.63.0
h11==0.12.0
pydantic==1.8.2
starlette==0.13.6
typing-extensions==3.10.0.2
uvicorn==0.13.4
asyncpg==0.22.0
fastapi==0.63.0
ormar==0.10.5
psycopg2-binary==2.8.6
uvicorn==0.13.4
